MSP430_sandbox/.jxbrowser.userdata/
MSP430_sandbox/.metadata/
MSP430_sandbox/dvt/
MSP430_sandbox/RemoteSystemsTempFiles/
MSP430_sandbox/MSP430_sandbox_A/.launches/
MSP430_sandbox/MSP430_sandbox_A/.settings/
MSP430_sandbox/MSP430_sandbox_A/Debug/
MSP430_sandbox/MSP430_sandbox_A/targetConfigs/
MSP430_sandbox/MSP430_sandbox_B/.launches/
MSP430_sandbox/MSP430_sandbox_B/.settings/
MSP430_sandbox/MSP430_sandbox_B/Debug/
MSP430_sandbox/MSP430_sandbox_B/targetConfigs/
